@{
    ViewData["Title"] = "Privacy Page";
}

<div class="text-center mt-5">
    <h1>Welcome to the privacy page</h1>
    <p>
        We value your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and disclose your personal data.
    </p>
    <p>
        You have the right show details , edit and delete an instructor or student from the database also you can create a new members
    </p>
    <p>
        If you have any questions or concerns about your data or our privacy practices, please contact us.
    </p>
</div>
