<h1>Create new student</h1>
<form asp-controller="instructor" asp-action="save" method="post">
    id: <input type="number" name="id" />
    name: <input type="text" name="name" />
    age: <input type="number" name="age" />
    <input type="submit"/>
</form>