@model ASPDAY2.ViewModels.StudentVM
<h1>Details</h1>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-M3PWQaY2QFIhwuzE7VW3K1dyA0C1coQemlJD1qDzWIxmg4zFMEu50eU/HiPzGmG4" crossorigin="anonymous">
</head>
<table class="table table-striped">
    <tr>
        <th>name</th>
        <th>department</th>
        <th>birth year</th>
    </tr>
    <tr>
        <td>@Model.StudentName</td>
        <td>@Model.StudentDepartment</td>
        <td>@Model.birthYear</td>
    </tr>
</table>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src=" ht